name: OWASP Dependency Check

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  dependency-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Cache Dependency-Check Data
        uses: actions/cache@v4
        with:
          path: ~/.dependency-check
          key: dependency-check-data
          restore-keys: dependency-check-data

      - name: Download OWASP Dependency-Check
        run: |
          wget https://github.com/jeremylong/DependencyCheck/releases/download/v9.0.7/dependency-check-9.0.7-release.zip
          unzip dependency-check-9.0.7-release.zip

      - name: Run OWASP Dependency-Check
        run: |
          ./dependency-check/bin/dependency-check.sh \
            --project "my-secure-app" \
            --scan . \
            --format HTML \
            --out dependency-check-report \
            --data ~/.dependency-check \
            --nvdApiKey "${{ secrets.NVD_API_KEY }}" \
            --nvdApiDelay 6000 \
            --failOnCVSS 7

      - name: Upload Dependency-Check Report
        uses: actions/upload-artifact@v4
        with:
          name: dependency-check-report
          path: dependency-check-report
