name: OWASP Dependency Check

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  dependency-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache Dependency-Check database
        uses: actions/cache@v4
        with:
          path: ~/.dependency-check
          key: dependency-check-db

      - name: Download OWASP Dependency-Check
        run: |
          wget https://github.com/jeremylong/DependencyCheck/releases/download/v9.0.7/dependency-check-9.0.7-release.zip
          unzip dependency-check-9.0.7-release.zip

      - name: Run Dependency-Check
        env:
          NVD_API_KEY: ${{ secrets.NVD_API_KEY }}
        run: |
          if [ -z "$NVD_API_KEY" ]; then
            echo "NVD_API_KEY is missing"
            exit 1
          fi

          ./dependency-check/bin/dependency-check.sh \
            --project "my-secure-app" \
            --scan . \
            --format HTML \
            --out dependency-check-report \
            --nvdApiKey "$NVD_API_KEY" \
            --failOnCVSS 7 \
            --enableExperimental

      - name: Upload Dependency-Check report
        uses: actions/upload-artifact@v4
        with:
          name: dependency-check-report
          path: dependency-check-report
